.loader1 {
	box-sizing: border-box;
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 5px solid deepskyblue;
	border-bottom-color: #ff3d00;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.oj_link_button {
	padding: 0;
	font: inherit;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	background: none;
	border: none;
}

.oj_link_button:hover {
	text-decoration: underline;
}
