body {
	background: #ffffff;
}

.oj-hn-template {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #000;
}

.oj-hn-page {
	width: 85%;
	margin: 8px auto 24px;
	background: #f6f6ef;
}

.oj-hn-nav {
	padding: 2px 4px 2px 2px;
	font-weight: normal;
	color: #000;
	background: #ff6600;

	a {
		color: #000;
		text-decoration: none;
	}

	.hnname a {
		font-weight: bold;
	}
}

.oj-hn-nav-table {
	width: 100%;
}

.oj-hn-logo-cell {
	width: 18px;
	padding-right: 4px;
}

.oj-hn-links-cell {
	padding-left: 4px;
}

.oj-hn-login-cell {
	padding-right: 4px;
	text-align: right;
}

.pagetop {
	font-size: 10pt;
	line-height: 12px;
}

.oj-hn-body {
	padding: 16px 0 16px 16px;
	background: #f6f6ef;
}

.oj-hn-footer {
	padding: 12px 0 20px;
	font-size: 8pt;
	color: #828282;

	a {
		color: #828282;
		text-decoration: none;
	}
}

.oj-hn-footer-center {
	text-align: center;
}
